.env
__pycache__/
chroma_db/
venv/
.DS_Store
venv311/
chroma_mps_db/
patients/
backup.log
charts.db
*.pyc
__pycache__/
add_*.py
app_fix.py
app_new.py
files/
files.zip
static/
mps_knowledge.txt
*.txt.bak
